# **Project Title: 'PyBank' Jupyter Notebook. <br>Project Owner: Todd C. Meier.**

#### *The purpose of this notebook is to analyze our Company's financial records as tabulated in the dataset 'budget_data.csv'.*

In [28]:
# Import libraries that may be useful in this project.
from pathlib import Path
import csv
import pandas as pd
import matplotlib.pyplot as plt # A collection of functions that makes matplotlib work like MATLAB
# %matplotlib inline # Not supported outside of Jupyter Notebook
import numpy as np
# Install numpy-financial pkg via conda-forge, not anaconda channel: 'conda install -c conda-forge numpy-financial' or 'pip install numpy-financial'
import numpy_financial as npf # !The importable name of the package 'numpy_financial' is different from the installed package name 'numpy-financial'

In [30]:
# "We have only methods in Java and only functions in C but in Python, we have both functions and methods."
# "Functions inside a class are called methods. Methods are associated with a class/object."
# (c.f. https://pythongeeks.org/python-methods-vs-functions)

In [72]:
# Declare and initialize select variables used in project.
budget_data_row_nbr = 0
# Must initialize empty list in order to append budget data
budget_data_list = []
#total_profit_loss = 0

# Use 'Path' function to identify relative and platform-agnostic path to Company's financial dataset 'budget_data.csv'
path_file_nm = Path('Resources/budget_data.csv')

# Read in Company's financial dataset 'budget_data.csv'
# The 'with open' method is recommended as it ensures the file closes once the 'with' statement has been executed (context manager; avoids resource leaks)
with open(path_file_nm, 'r', newline='') as file:
    # Print the datatype of the file object holding the Company's financial dataset file 'budget_data.csv'
    print(type(file))
    
    # Read in the contents of the Company's financial dataset file 'budget_data.csv'
    # budget_data = file.read()
    budget_data = csv.reader(file, delimiter=',')
    # Print the datatype of the budget_data; s/b reader object
    print(type(budget_data))
    
    # Inspect data file
    print(budget_data)
    
    # Begin iterating over, or reading, individual lines of csv.reader iterable object 'budget_data'
    # Identify header of 'budget_data'
    header_line = next(budget_data)
    # Print header row contents
    print(f"Header row: {line_1_header}")
    
    # Initialize budget_data row step prior to iterating the dataset.  The dataset is defined as the data residing BELOW the header row. 
    budget_data_row_step = 1
    
    # Iterate over dataset rows residing below the header
    for each in budget_data:
        # Track iteration's current row number in dataset.  Dataset is defined as the data residing BELOW the header row.
        # Of the form, x = x+y or x+=y (addition assignment operator), where x is the budget_data_row and y is the budget_data_row_step size
        budget_data_row_nbr += budget_data_row_step
        # Inspect dataset row number at each iteration
        print(budget_data_row_nbr)
        
        # Inspect each row
        print(each)
    
        # Inspect each row's list of elements
        print(f"{each[0]}:{type(each[0])}")
        print(f"{each[1]}:{type(each[1])}")
        
        # Assign first element of row, 'Date', to variable 'budget_data_row_yearmonth'
        budget_data_row_yearmonth = each[0]
        # print(budget_data_row_yearmonth)
        
        # Inspection of the second element, 'Profit/Losses', shows that figures should be of the Integer, not Float, type.
        # Convert the second element, 'Profit/Losses', to Integer and assign to variable 'budget_data_row_profit_loss'.
        budget_data_row_profit_loss = int(each[1])
        
        # Inspect the 'Profit/Losses' variable 'budget_data_row_profit_loss' following conversion from Str to Int
        print(f"{budget_data_row_profit_loss}:{type(budget_data_row_profit_loss)}")
        
        # Create a list to contain the 'Date' in column 1 and 'Profit/Losses' in column 2
        budget_data_row_list = [budget_data_row_yearmonth,budget_data_row_profit_loss]
        # budget_data_row_list = [each[0],int(each[1])]
        
        # Append the list of 'Date' and 'Profit/Losses' to a time-series list to support future calculations and lookups
        budget_data_list.append(budget_data_row_list)
        # Inspect budget data list
        # print(budget_data_list)

# We are done with the file and csv.reader objects; may now close file, and release resources.
# Confirm 'budget_data' file object has been closed and resources released; should evaluate to 'True'
print(file.closed)
  
# Determine number of months in budget_data.  Logic assumes that each row in dataset contains unique monthly profit & loss, that there are no redundancies.
budget_data_months_count = budget_data_row_nbr

# Determine Company's total profit and losses
for each in budget_data_list:
    # Determine Company's total profit and losses
    total_profit_loss += each[1]
    
# Determine Company's greatest increase and greatest decrease in monthly profit and losses
# Initialize prior month profit and loss
prior_month_profit_loss = budget_data_list[0][1]
for each in budget_data_list[1:]
    current_month_profit_loss = each[1]
    monthly_change_profit_loss = current_month_profit_loss - prior_month_profit_loss
    # Assign current month profit and loss to prior month profit and loss before exiting loop
    
print(total_profit_loss)

# Determined average change in Company's monthly profit and losses
# Only need to know the terminal months', beginning and end, profit and losses to calculate the average change, as the internal months cancel out
average_change_profit_loss = (budget_data_list[-1][1] - budget_data_list[0][1])/(budget_data_months_count - 1)
print(average_change_profit_loss)

# Determine greatest increase in monthly profit and losses

# Determine greatest decrease in monthly profit and losses

#budget_data_list_total_profit_losses = sum(budget_data_list[][1])

<class '_io.TextIOWrapper'>
<class '_csv.reader'>
<_csv.reader object at 0x130f1d930>
Header row: ['Date', 'Profit/Losses']
1
['Jan-2010', '867884']
Jan-2010:<class 'str'>
867884:<class 'str'>
867884:<class 'int'>
2
['Feb-2010', '984655']
Feb-2010:<class 'str'>
984655:<class 'str'>
984655:<class 'int'>
3
['Mar-2010', '322013']
Mar-2010:<class 'str'>
322013:<class 'str'>
322013:<class 'int'>
4
['Apr-2010', '-69417']
Apr-2010:<class 'str'>
-69417:<class 'str'>
-69417:<class 'int'>
5
['May-2010', '310503']
May-2010:<class 'str'>
310503:<class 'str'>
310503:<class 'int'>
6
['Jun-2010', '522857']
Jun-2010:<class 'str'>
522857:<class 'str'>
522857:<class 'int'>
7
['Jul-2010', '1033096']
Jul-2010:<class 'str'>
1033096:<class 'str'>
1033096:<class 'int'>
8
['Aug-2010', '604885']
Aug-2010:<class 'str'>
604885:<class 'str'>
604885:<class 'int'>
9
['Sep-2010', '-216386']
Sep-2010:<class 'str'>
-216386:<class 'str'>
-216386:<class 'int'>
10
['Oct-2010', '477532']
Oct-2010:<class 'str'>
477532:<class 'str'>
477532:<class 'int'>
11
['Nov-2010', '893810']
Nov-2010:<class 'str'>
893810:<class 'str'>
893810:<class 'int'>
12
['Dec-2010', '-80353']
Dec-2010:<class 'str'>
-80353:<class 'str'>
-80353:<class 'int'>
13
['Jan-2011', '779806']
Jan-2011:<class 'str'>
779806:<class 'str'>
779806:<class 'int'>
14
['Feb-2011', '-335203']
Feb-2011:<class 'str'>
-335203:<class 'str'>
-335203:<class 'int'>
15
['Mar-2011', '697845']
Mar-2011:<class 'str'>
697845:<class 'str'>
697845:<class 'int'>
16
['Apr-2011', '793163']
Apr-2011:<class 'str'>
793163:<class 'str'>
793163:<class 'int'>
17
['May-2011', '485070']
May-2011:<class 'str'>
485070:<class 'str'>
485070:<class 'int'>
18
['Jun-2011', '584122']
Jun-2011:<class 'str'>
584122:<class 'str'>
584122:<class 'int'>
19
['Jul-2011', '62729']
Jul-2011:<class 'str'>
62729:<class 'str'>
62729:<class 'int'>
20
['Aug-2011', '668179']
Aug-2011:<class 'str'>
668179:<class 'str'>
668179:<class 'int'>
21
['Sep-2011', '899906']
Sep-2011:<class 'str'>
899906:<class 'str'>
899906:<class 'int'>
22
['Oct-2011', '834719']
Oct-2011:<class 'str'>
834719:<class 'str'>
834719:<class 'int'>
23
['Nov-2011', '132003']
Nov-2011:<class 'str'>
132003:<class 'str'>
132003:<class 'int'>
24
['Dec-2011', '309978']
Dec-2011:<class 'str'>
309978:<class 'str'>
309978:<class 'int'>
25
['Jan-2012', '-755566']
Jan-2012:<class 'str'>
-755566:<class 'str'>
-755566:<class 'int'>
26
['Feb-2012', '1170593']
Feb-2012:<class 'str'>
1170593:<class 'str'>
1170593:<class 'int'>
27
['Mar-2012', '252788']
Mar-2012:<class 'str'>
252788:<class 'str'>
252788:<class 'int'>
28
['Apr-2012', '1151518']
Apr-2012:<class 'str'>
1151518:<class 'str'>
1151518:<class 'int'>
29
['May-2012', '817256']
May-2012:<class 'str'>
817256:<class 'str'>
817256:<class 'int'>
30
['Jun-2012', '570757']
Jun-2012:<class 'str'>
570757:<class 'str'>
570757:<class 'int'>
31
['Jul-2012', '506702']
Jul-2012:<class 'str'>
506702:<class 'str'>
506702:<class 'int'>
32
['Aug-2012', '-1022534']
Aug-2012:<class 'str'>
-1022534:<class 'str'>
-1022534:<class 'int'>
33
['Sep-2012', '475062']
Sep-2012:<class 'str'>
475062:<class 'str'>
475062:<class 'int'>
34
['Oct-2012', '779976']
Oct-2012:<class 'str'>
779976:<class 'str'>
779976:<class 'int'>
35
['Nov-2012', '144175']
Nov-2012:<class 'str'>
144175:<class 'str'>
144175:<class 'int'>
36
['Dec-2012', '542494']
Dec-2012:<class 'str'>
542494:<class 'str'>
542494:<class 'int'>
37
['Jan-2013', '359333']
Jan-2013:<class 'str'>
359333:<class 'str'>
359333:<class 'int'>
38
['Feb-2013', '321469']
Feb-2013:<class 'str'>
321469:<class 'str'>
321469:<class 'int'>
39
['Mar-2013', '67780']
Mar-2013:<class 'str'>
67780:<class 'str'>
67780:<class 'int'>
40
['Apr-2013', '471435']
Apr-2013:<class 'str'>
471435:<class 'str'>
471435:<class 'int'>
41
['May-2013', '565603']
May-2013:<class 'str'>
565603:<class 'str'>
565603:<class 'int'>
42
['Jun-2013', '872480']
Jun-2013:<class 'str'>
872480:<class 'str'>
872480:<class 'int'>
43
['Jul-2013', '789480']
Jul-2013:<class 'str'>
789480:<class 'str'>
789480:<class 'int'>
44
['Aug-2013', '999942']
Aug-2013:<class 'str'>
999942:<class 'str'>
999942:<class 'int'>
45
['Sep-2013', '-1196225']
Sep-2013:<class 'str'>
-1196225:<class 'str'>
-1196225:<class 'int'>
46
['Oct-2013', '268997']
Oct-2013:<class 'str'>
268997:<class 'str'>
268997:<class 'int'>
47
['Nov-2013', '-687986']
Nov-2013:<class 'str'>
-687986:<class 'str'>
-687986:<class 'int'>
48
['Dec-2013', '1150461']
Dec-2013:<class 'str'>
1150461:<class 'str'>
1150461:<class 'int'>
49
['Jan-2014', '682458']
Jan-2014:<class 'str'>
682458:<class 'str'>
682458:<class 'int'>
50
['Feb-2014', '617856']
Feb-2014:<class 'str'>
617856:<class 'str'>
617856:<class 'int'>
51
['Mar-2014', '824098']
Mar-2014:<class 'str'>
824098:<class 'str'>
824098:<class 'int'>
52
['Apr-2014', '581943']
Apr-2014:<class 'str'>
581943:<class 'str'>
581943:<class 'int'>
53
['May-2014', '132864']
May-2014:<class 'str'>
132864:<class 'str'>
132864:<class 'int'>
54
['Jun-2014', '448062']
Jun-2014:<class 'str'>
448062:<class 'str'>
448062:<class 'int'>
55
['Jul-2014', '689161']
Jul-2014:<class 'str'>
689161:<class 'str'>
689161:<class 'int'>
56
['Aug-2014', '800701']
Aug-2014:<class 'str'>
800701:<class 'str'>
800701:<class 'int'>
57
['Sep-2014', '1166643']
Sep-2014:<class 'str'>
1166643:<class 'str'>
1166643:<class 'int'>
58
['Oct-2014', '947333']
Oct-2014:<class 'str'>
947333:<class 'str'>
947333:<class 'int'>
59
['Nov-2014', '578668']
Nov-2014:<class 'str'>
578668:<class 'str'>
578668:<class 'int'>
60
['Dec-2014', '988505']
Dec-2014:<class 'str'>
988505:<class 'str'>
988505:<class 'int'>
61
['Jan-2015', '1139715']
Jan-2015:<class 'str'>
1139715:<class 'str'>
1139715:<class 'int'>
62
['Feb-2015', '1029471']
Feb-2015:<class 'str'>
1029471:<class 'str'>
1029471:<class 'int'>
63
['Mar-2015', '687533']
Mar-2015:<class 'str'>
687533:<class 'str'>
687533:<class 'int'>
64
['Apr-2015', '-524626']
Apr-2015:<class 'str'>
-524626:<class 'str'>
-524626:<class 'int'>
65
['May-2015', '158620']
May-2015:<class 'str'>
158620:<class 'str'>
158620:<class 'int'>
66
['Jun-2015', '87795']
Jun-2015:<class 'str'>
87795:<class 'str'>
87795:<class 'int'>
67
['Jul-2015', '423389']
Jul-2015:<class 'str'>
423389:<class 'str'>
423389:<class 'int'>
68
['Aug-2015', '840723']
Aug-2015:<class 'str'>
840723:<class 'str'>
840723:<class 'int'>
69
['Sep-2015', '568529']
Sep-2015:<class 'str'>
568529:<class 'str'>
568529:<class 'int'>
70
['Oct-2015', '332067']
Oct-2015:<class 'str'>
332067:<class 'str'>
332067:<class 'int'>
71
['Nov-2015', '989499']
Nov-2015:<class 'str'>
989499:<class 'str'>
989499:<class 'int'>
72
['Dec-2015', '778237']
Dec-2015:<class 'str'>
778237:<class 'str'>
778237:<class 'int'>
73
['Jan-2016', '650000']
Jan-2016:<class 'str'>
650000:<class 'str'>
650000:<class 'int'>
74
['Feb-2016', '-1100387']
Feb-2016:<class 'str'>
-1100387:<class 'str'>
-1100387:<class 'int'>
75
['Mar-2016', '-174946']
Mar-2016:<class 'str'>
-174946:<class 'str'>
-174946:<class 'int'>
76
['Apr-2016', '757143']
Apr-2016:<class 'str'>
757143:<class 'str'>
757143:<class 'int'>
77
['May-2016', '445709']
May-2016:<class 'str'>
445709:<class 'str'>
445709:<class 'int'>
78
['Jun-2016', '712961']
Jun-2016:<class 'str'>
712961:<class 'str'>
712961:<class 'int'>
79
['Jul-2016', '-1163797']
Jul-2016:<class 'str'>
-1163797:<class 'str'>
-1163797:<class 'int'>
80
['Aug-2016', '569899']
Aug-2016:<class 'str'>
569899:<class 'str'>
569899:<class 'int'>
81
['Sep-2016', '768450']
Sep-2016:<class 'str'>
768450:<class 'str'>
768450:<class 'int'>
82
['Oct-2016', '102685']
Oct-2016:<class 'str'>
102685:<class 'str'>
102685:<class 'int'>
83
['Nov-2016', '795914']
Nov-2016:<class 'str'>
795914:<class 'str'>
795914:<class 'int'>
84
['Dec-2016', '60988']
Dec-2016:<class 'str'>
60988:<class 'str'>
60988:<class 'int'>
85
['Jan-2017', '138230']
Jan-2017:<class 'str'>
138230:<class 'str'>
138230:<class 'int'>
86
['Feb-2017', '671099']
Feb-2017:<class 'str'>
671099:<class 'str'>
671099:<class 'int'>
True
153530312
-2315.1176470588234

In [19]:
# # Test native Python read() method alternative applied to 'budget_data.csv' dataset
# with open(path_file_nm, 'r') as file:
#     # Print the datatype of the file object holding the Company's financial dataset file 'budget_data.csv'
#     print(type(file))
#     # Read in the contents of the Company's financial dataset file 'budget_data.csv'
#     budget_data = file.read()
#     # budget_data = csv.reader(file, delimiter=',')
#     # Print the datatype of the budget_data; s/b dump of file contents as string
#     print(type(budget_data))
#     print(budget_data, end='') # Inspect data file
# # Confirm the file has been closed and resources released; should evaluate to 'True'
# print(file.closed)

<class '_io.TextIOWrapper'>
<class 'str'>
Date,Profit/Losses
Jan-2010,867884
Feb-2010,984655
Mar-2010,322013
Apr-2010,-69417
May-2010,310503
Jun-2010,522857
Jul-2010,1033096
Aug-2010,604885
Sep-2010,-216386
Oct-2010,477532
Nov-2010,893810
Dec-2010,-80353
Jan-2011,779806
Feb-2011,-335203
Mar-2011,697845
Apr-2011,793163
May-2011,485070
Jun-2011,584122
Jul-2011,62729
Aug-2011,668179
Sep-2011,899906
Oct-2011,834719
Nov-2011,132003
Dec-2011,309978
Jan-2012,-755566
Feb-2012,1170593
Mar-2012,252788
Apr-2012,1151518
May-2012,817256
Jun-2012,570757
Jul-2012,506702
Aug-2012,-1022534
Sep-2012,475062
Oct-2012,779976
Nov-2012,144175
Dec-2012,542494
Jan-2013,359333
Feb-2013,321469
Mar-2013,67780
Apr-2013,471435
May-2013,565603
Jun-2013,872480
Jul-2013,789480
Aug-2013,999942
Sep-2013,-1196225
Oct-2013,268997
Nov-2013,-687986
Dec-2013,1150461
Jan-2014,682458
Feb-2014,617856
Mar-2014,824098
Apr-2014,581943
May-2014,132864
Jun-2014,448062
Jul-2014,689161
Aug-2014,800701
Sep-2014,1166643
Oct-2014,947333
Nov-2014,578668
Dec-2014,988505
Jan-2015,1139715
Feb-2015,1029471
Mar-2015,687533
Apr-2015,-524626
May-2015,158620
Jun-2015,87795
Jul-2015,423389
Aug-2015,840723
Sep-2015,568529
Oct-2015,332067
Nov-2015,989499
Dec-2015,778237
Jan-2016,650000
Feb-2016,-1100387
Mar-2016,-174946
Apr-2016,757143
May-2016,445709
Jun-2016,712961
Jul-2016,-1163797
Aug-2016,569899
Sep-2016,768450
Oct-2016,102685
Nov-2016,795914
Dec-2016,60988
Jan-2017,138230
Feb-2017,671099
True

In [ ]:
# Confirm 'budget_data' file object has been closed and resources released; should evaluate to 'True'
print(file.closed)